<configuration>
    <system.webServer>
        <modules>
            <remove name="WebDAVModule" />
        </modules>
      <handlers>
        <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
        <remove name="WebDAV" />
      </handlers>
      <rewrite>
           <rules>
                <rule name="DynamicContent">
                     <conditions>
                          <add input="{{REQUEST_FILENAME}}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="index.js"/>
                </rule>
           </rules>
      </rewrite>
      <httpErrors existingResponse="PassThrough"/>
    </system.webServer>
</configuration>